html {
    margin: 0;
    padding: 0;
}
header{
    background-color: #0d6efd;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    background-color: #6c757d;
    height: 60%;
    width: 70%;
}

.section1 {
    background-color: #198754;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div1-sec1 {
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    border: #4f6483 solid 5px;
    background-color: #3d78d8;
    height: 400px;
    width: 800px;
}

.section2 {
    background-color: #dc3545;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div2-sec2 {
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    border: #92855c solid 5px;
    background-color: #ffd966;
    height: 350px;
    width: 430px;
}

footer{
    background-color: #ffc106;
    height: 60vh;
}
html {
    margin: 0;
    padding: 0;
}

